// 各类库，app.js 中的express.static决定了根目录在哪
link(href="/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet")
script(src="/libs/jquery/dist/jquery.js")
script(src="/libs/bootstrap/dist/js/bootstrap.js")